<%- include("../partials/header")%>
    <%- include("../partials/navbar")%>
        <main>
            <%- include("../partials/flash")%>
            <table>
                <tr>
                    <td>
                        <div id="contents">
                            <div id="showCard">
                                <img style="width: 260px;" src="<%-product.img%>">
                                <h4><%=product.name%></h4>
                                <p><%=product.desc%></p>
                                <h4>Rs. <%=product.price%></h4>
                                <table>
                                    <tr>
                                        <td>
                                            <a href=""><button id="buy" type="submit">Buy</button></a>
                                        </td>
                                        <td>
                                            <form action="/products/<%=product._id%>/add" method="POST">
                                                <button id="atc" type="submit">Add to cart</button>
                                            </form>
                                        </td>
                                        <td>
                                            <a href="/products/<%=product._id%>/edit"><button id="edit" type="submit">Edit</button></a>
                                        </td>        
                                    </tr>
                                </table>
                                
                                <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
                                    <button id="delete" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td><h2>Leave a comment</h2>
                        <form action="/products/<%=product._id%>/review" method="POST">
                            <legend for="rating">Rating</legend>
                            <input type="range" name="rating" id="rating" min="0" max="5">
                            <legend for="comment">Comment</legend>
                            <textarea name="comment" id="comment" rows="5" cols="50" required></textarea><br>
                            <button type="submit">Submit</button>
                        </form>
                        <%for(let review of product.reviews){%>
                        <div id="comments">
                            <p><b>Reviewed By: </b><%=review.user%></p>
                            <p><b>Rating: </b><%=review.rating%></p>
                            <p><%=review.comment%></p>
                        </div>
                        <%}%>
                    </td>
                </tr>
            </table>
        </main>


        <%- include("../partials/footer")%>